model_dir: "model_mlp-dlrm"

train_config {
    optimizer_config {
        adagrad_optimizer {
            lr: 0.01
        }
        exponential_decay_learning_rate {
            decay_steps: 10000
            decay_rate: 0.95
            min_learning_rate: 0.00001
        }
    }
    keep_checkpoint_max: 2
    log_step_count_steps: 1000
    num_epochs: 1
}

dataset_config {
    dataset_type: CsvDataset
    batch_size: 512

    input_fields {
        input_name: "label"
        input_type: INT
    }

    input_fields {
        input_name: "i1"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i2"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i3"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i4"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i5"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i6"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i7"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i8"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i9"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i10"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i11"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i12"
        input_type: DOUBLE
    }
    input_fields {
        input_name: "i13"
        input_type: DOUBLE
    }

    input_fields {
        input_name: "c1"
        input_type: INT
    }
    input_fields {
        input_name: "c2"
        input_type: INT
    }
    input_fields {
        input_name: "c3"
        input_type: INT
    }
    input_fields {
        input_name: "c4"
        input_type: INT
    }
    input_fields {
        input_name: "c5"
        input_type: INT
    }
    input_fields {
        input_name: "c6"
        input_type: INT
    }
    input_fields {
        input_name: "c7"
        input_type: INT
    }
    input_fields {
        input_name: "c8"
        input_type: INT
    }
    input_fields {
        input_name: "c9"
        input_type: INT
    }
    input_fields {
        input_name: "c10"
        input_type: INT
    }
    input_fields {
        input_name: "c11"
        input_type: INT
    }
    input_fields {
        input_name: "c12"
        input_type: INT
    }
    input_fields {
        input_name: "c13"
        input_type: INT
    }
    input_fields {
        input_name: "c14"
        input_type: INT
    }
    input_fields {
        input_name: "c15"
        input_type: INT
    }
    input_fields {
        input_name: "c16"
        input_type: INT
    }
    input_fields {
        input_name: "c17"
        input_type: INT
    }
    input_fields {
        input_name: "c18"
        input_type: INT
    }
    input_fields {
        input_name: "c19"
        input_type: INT
    }
    input_fields {
        input_name: "c20"
        input_type: INT
    }
    input_fields {
        input_name: "c21"
        input_type: INT
    }
    input_fields {
        input_name: "c22"
        input_type: INT
    }
    input_fields {
        input_name: "c23"
        input_type: INT
    }
    input_fields {
        input_name: "c24"
        input_type: INT
    }
    input_fields {
        input_name: "c25"
        input_type: INT
    }
    input_fields {
        input_name: "c26"
        input_type: INT
    }

    label_fields: "label"
}

feature_config {
    features {
        raw_feature {
            input_name: "i1"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i2"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i3"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i4"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i5"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i6"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i7"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i8"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i9"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i10"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i11"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i12"
            value_dim: 1
            embedding_dim: 16
        }
    }
    features {
        raw_feature {
            input_name: "i13"
            value_dim: 1
            embedding_dim: 16
        }
    }

    features {
        id_feature {
            input_name: "c1"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c2"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c3"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c4"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c5"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c6"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c7"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c8"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c9"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c10"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c11"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c12"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c13"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c14"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c15"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c16"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c17"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c18"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c19"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c20"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c21"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c22"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c23"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c24"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c25"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "c26"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
}

model_config {
    feature_groups {
        group_name: "deep"
        group_type: Deep

        feature_names: "i1"
        feature_names: "i2"
        feature_names: "i3"
        feature_names: "i4"
        feature_names: "i5"
        feature_names: "i6"
        feature_names: "i7"
        feature_names: "i8"
        feature_names: "i9"
        feature_names: "i10"
        feature_names: "i11"
        feature_names: "i12"
        feature_names: "i13"

        feature_names: "c1"
        feature_names: "c2"
        feature_names: "c3"
        feature_names: "c4"
        feature_names: "c5"
        feature_names: "c6"
        feature_names: "c7"
        feature_names: "c8"
        feature_names: "c9"
        feature_names: "c10"
        feature_names: "c11"
        feature_names: "c12"
        feature_names: "c13"
        feature_names: "c14"
        feature_names: "c15"
        feature_names: "c16"
        feature_names: "c17"
        feature_names: "c18"
        feature_names: "c19"
        feature_names: "c20"
        feature_names: "c21"
        feature_names: "c22"
        feature_names: "c23"
        feature_names: "c24"
        feature_names: "c25"
        feature_names: "c26"
    }
    feature_groups {
        group_name: "interaction"
        group_type: Deep_3D

        feature_names: "i1"
        feature_names: "i2"
        feature_names: "i3"
        feature_names: "i4"
        feature_names: "i5"
        feature_names: "i6"
        feature_names: "i7"
        feature_names: "i8"
        feature_names: "i9"
        feature_names: "i10"
        feature_names: "i11"
        feature_names: "i12"
        feature_names: "i13"

        feature_names: "c1"
        feature_names: "c2"
        feature_names: "c3"
        feature_names: "c4"
        feature_names: "c5"
        feature_names: "c6"
        feature_names: "c7"
        feature_names: "c8"
        feature_names: "c9"
        feature_names: "c10"
        feature_names: "c11"
        feature_names: "c12"
        feature_names: "c13"
        feature_names: "c14"
        feature_names: "c15"
        feature_names: "c16"
        feature_names: "c17"
        feature_names: "c18"
        feature_names: "c19"
        feature_names: "c20"
        feature_names: "c21"
        feature_names: "c22"
        feature_names: "c23"
        feature_names: "c24"
        feature_names: "c25"
        feature_names: "c26"
    }
    backbone {
        blocks {
            name: "mlp"
            feature_group_names: "deep"
            mlp {
                hidden_units: 128
                hidden_units: 64
            }
        }
        blocks {
            name: "dlrm"
            feature_group_names: "interaction"
            dlrm {
            }
        }
        output_dim: 805
    }
    rank_model {
        top_mlp {
            hidden_units: 32
        }
    }
    losses {
        binary_cross_entropy {}
    }
    metrics {
        auc {}
    }
    metrics {
        copc {}
    }
}
