model_dir: "model_mlp-din"

train_config {
    optimizer_config {
        adagrad_optimizer {
            lr: 0.01
        }
        exponential_decay_learning_rate {
            decay_steps: 10000
            decay_rate: 0.95
            min_learning_rate: 0.00001
        }
    }
    keep_checkpoint_max: 2
    log_step_count_steps: 1000
    num_epochs: 1
}

dataset_config {
    dataset_type: CsvDataset
    batch_size: 512
    label_fields: "label"

    input_fields {
        input_name: "label"
        input_type: INT
    }

    input_fields {
        input_name: "user_id"
        input_type: INT
    }
    input_fields {
        input_name: "gender"
        input_type: INT
    }
    input_fields {
        input_name: "visit_city"
        input_type: INT
    }
    input_fields {
        input_name: "is_supervip"
        input_type: INT
    }

    input_fields {
        input_name: "shop_id"
        input_type: INT
    }
    input_fields {
        input_name: "item_id"
        input_type: INT
    }
    input_fields {
        input_name: "category_1_id"
        input_type: INT
    }
    input_fields {
        input_name: "brand_id"
        input_type: INT
    }

    input_fields {
        input_name: "shop_id_list"
        input_type: STRING
        split_length: 20
        sub_type: "INT"
    }
    input_fields {
        input_name: "item_id_list"
        input_type: STRING
        split_length: 20
        sub_type: "INT"
    }
    input_fields {
        input_name: "category_1_id_list"
        input_type: STRING
        split_length: 20
        sub_type: "INT"
    }
    input_fields {
        input_name: "brand_id_list"
        input_type: STRING
        split_length: 20
        sub_type: "INT"
    }

    input_fields {
        input_name: "hours"
        input_type: INT
    }
    input_fields {
        input_name: "time_type"
        input_type: INT
    }
}

feature_config {
    features {
        id_feature {
            input_name: "user_id"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "gender"
            embedding_dim: 16
            num_buckets: 10
        }
    }
    features {
        id_feature {
            input_name: "visit_city"
            embedding_dim: 16
            num_buckets: 10000
        }
    }
    features {
        id_feature {
            input_name: "is_supervip"
            embedding_dim: 16
            num_buckets: 10
        }
    }

    features {
        id_feature {
            input_name: "shop_id"
            feature_name: "shop_id_deep"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "item_id"
            feature_name: "item_id_deep"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "category_1_id"
            feature_name: "category_1_id_deep"
            embedding_dim: 16
            num_buckets: 10000
        }
    }
    features {
        id_feature {
            input_name: "brand_id"
            feature_name: "brand_id_deep"
            embedding_dim: 16
            num_buckets: 100000
        }
    }

    features {
        id_feature {
            input_name: "shop_id"
            feature_name: "shop_id_din"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "item_id"
            feature_name: "item_id_din"
            embedding_dim: 16
            num_buckets: 1000000
        }
    }
    features {
        id_feature {
            input_name: "category_1_id"
            feature_name: "category_1_id_din"
            embedding_dim: 16
            num_buckets: 10000
        }
    }
    features {
        id_feature {
            input_name: "brand_id"
            feature_name: "brand_id_din"
            embedding_dim: 16
            num_buckets: 100000
        }
    }

    features {
        sequence_feature {
            input_name: "shop_id_list"
            embedding_dim: 16
            num_buckets: 1000000
            separator: ";"
        }
    }
    features {
        sequence_feature {
            input_name: "item_id_list"
            embedding_dim: 16
            num_buckets: 1000000
            separator: ";"
        }
    }
    features {
        sequence_feature {
            input_name: "category_1_id_list"
            embedding_dim: 16
            num_buckets: 10000
            separator: ";"
        }
    }
    features {
        sequence_feature {
            input_name: "brand_id_list"
            embedding_dim: 16
            num_buckets: 100000
            separator: ";"
        }
    }

    features {
        id_feature {
            input_name: "hours"
            embedding_dim: 16
            num_buckets: 100
        }
    }
    features {
        id_feature {
            input_name: "time_type"
            embedding_dim: 16
            num_buckets: 100
        }
    }
}

model_config {
    feature_groups {
        group_name: "deep"
        group_type: Deep

        feature_names: "user_id"
        feature_names: "gender"
        feature_names: "visit_city"
        feature_names: "is_supervip"

        feature_names: "shop_id_deep"
        feature_names: "item_id_deep"
        feature_names: "category_1_id_deep"

        feature_names: "hours"
        feature_names: "time_type"
    }
    feature_groups {
        group_name: "din"
        group_type: Sequence_Attention

        feature_names: "shop_id_din"
        feature_names: "item_id_din"
        feature_names: "category_1_id_din"

        feature_names: "shop_id_list"
        feature_names: "item_id_list"
        feature_names: "category_1_id_list"
    }
    rank_model {
        top_mlp {
            hidden_units: 64
            hidden_units: 32
        }
    }
    backbone {
        blocks {
            name: "deep"
            feature_group_names: "deep"
            mlp {
                hidden_units: 128
                hidden_units: 64
            }
        }
        blocks {
            name: "din"
            feature_group_names: "din"
            din {
                feature_group: "din"
                attn_mlp {
                    hidden_units: 64
                    hidden_units: 32
                }
            }
        }
        output_dim: 112
    }
    losses {
        binary_cross_entropy {}
    }
    metrics {
        auc {}
    }
    metrics {
        copc {}
    }
    metrics {
        grouped_auc {
            grouping_key: "user_id"
        }
    }
}
